@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --text-color: #ffffff;
}

/*@font-face {*/
/*    font-family: 'EB Garamond';*/
/*    src: url('../fonts/EBGaramond-Bold.ttf'), url('../fonts/EBGaramond-BoldItalic.ttf'), url('../fonts/EBGaramond-ExtraBold.ttf'), url('../fonts/EBGaramond-ExtraBoldItalic.ttf'), url('../fonts/EBGaramond-Italic.ttf'), url('../fonts/EBGaramond-Medium.ttf'), url('../fonts/EBGaramond-MediumItalic.ttf'), url('../fonts/EBGaramond-Regular.ttf'), url('../fonts/EBGaramond-SemiBold.ttf'), url('../fonts/EBGaramond-SemiBoldItalic.ttf');*/
/*    font-weight: normal;*/
/*    font-style: normal;*/
/*}*/

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 130%;
    letter-spacing: 0.05em;
    color: var(--text-color);
    background: #1C1C1C;
    overflow-x: hidden;
}

.container {
    max-width: 1520px;
    margin: 0 auto;
}

.h1 {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: normal;
    font-size: 3.84rem;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.05em;
    color: var(--text-color);
}

.h2 {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: 600;
    font-size: 1.75rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: var(--text-color);
}

.section-name {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: normal;
    font-size: 0.92rem;
    line-height: 130%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--text-color);

}

.flex-row {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.flex-row-between {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.footer-flex-row,.footer-flex-row2  {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.footer-flex-row-between {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.flex-col{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
.bold {
    font-weight: bold;
}

/* HEADER */
.logo {
    max-width: 365px;
    z-index:11;
}

.text-menu {
    position: relative;
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: normal;
    font-size: 1.23rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: var(--text-color);
    text-decoration: none;
    margin-left: 1.53rem;
    transition: clip-path 275ms ease;
}

.text-menu-animation {
    position: relative;
    transition: clip-path 275ms ease;
}

.text-menu-animation:hover span::before, .text-menu-animation:focus span::before {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.text-menu-animation span {
    position: relative;
    display: inline-block;
}

.text-menu-animation span::before {
    position: absolute;
    content: attr(data-text);
    color: var(--text-color);
    text-decoration: underline;
    text-decoration-color: var(--text-color);
    clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
    transition: clip-path 275ms ease;
    opacity: 0.7;
}


.header {
    z-index: 10;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    padding: 2.45rem 0;
    border-bottom: 1px solid var(--text-color);
}

.header ul, .footer ul {
    list-style: none;
}

.language-switcher {
    color: var(--text-color);
    opacity: 0.5;
    font-size: 1.23rem;

}

.active-switcher {
    color: var(--text-color);
    opacity: 1;
    border-bottom: 1px solid var(--text-color);
}

.padding {
    margin: 0 0.5rem 0 1rem;
}

/* MAIN */
.top-video-block {
    position: relative;
    width: 100vw;
    height: 98vh;
    z-index: 1;
    background: rgba(0, 0, 0, .5);
}

.top-text-center {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 77vw;
}

.in {
    position: absolute !important;
    z-index: 2 !important;
    top: 0 !important;
    left: 0 !important;
    opacity: 0.5 !important;
    width: 100vw !important;
    height: 98vh !important;
    background: #000 !important;
}

.top-video>.elementor-video {
    min-width: 100vw !important;
    max-width: 100vw !important;
    min-height: 98vh !important;
    max-height: 98vh !important;
    z-index: 0 !important;
    object-fit: cover !important;
}
.elementor-widget-video .e-hosted-video .elementor-video{
    min-width: 100vw !important;
    max-width: 100vw !important;
    min-height: 97vh !important;
    max-height: 97vh !important;
    z-index: 0 !important;
    object-fit: cover !important;
}
.elementor-widget-video .e-hosted-video .elementor-video video{
    object-fit: cover;
}
.top-video video {
    object-fit: cover;
}

.top-video img {
    object-fit: cover;
}

/* FOOTER */
.footer {
    z-index:1;
    padding: 2.15rem 0;
    border-top: 1px solid var(--text-color);
}
.order3 {
    z-index: 1;
}
.footer-text {
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: var(--text-color);
}

/*.text-menu-footer {*/
/*    font-family: "EB Garamond";*/
/*    font-style: normal;*/
/*    font-weight: normal;*/
/*    font-size: 1rem;*/
/*    line-height: 140%;*/
/*    letter-spacing: 0.05em;*/
/*    color: var(--text-color);*/
/*}*/
.text-menu-footer {
    position: relative;
    font-family: "EB Garamond";
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 140%;
    letter-spacing: 0.05em;
    color: var(--text-color);
    text-decoration: none;
    margin-left: 1.53rem;
    transition: clip-path 275ms ease;
}
.hidden {
    display: none;
}

/* MOBILE MENU */
.mobile-menu-switcher {
    cursor: pointer;
    -webkit-transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);
    -moz-transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);
    -ms-transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);
    -o-transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);
    transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);
}
/* ELEMENTOR CSS */
.elementor *, .elementor :after, .elementor :before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*background: #1C1C1C;*/
}
.elementor embed, .elementor iframe, .elementor object, .elementor video{
    min-height: 98vh;
    object-fit: cover;
}
.entry-title {
    display: none !important;
}
.entry-footer{
    display: none;
}
.elementor-aspect-ratio-169 .elementor-fit-aspect-ratio {

    background: #1C1C1C !important;
}
.elementor-column-gap-default>.elementor-column>.elementor-element-populated {
     padding: 0 !important;
}
.elementor embed, .elementor iframe, .elementor object, .elementor video{
    min-height: 97vh !important;
    object-fit: cover;
}
.elementor-column.elementor-col-100.elementor-top-column.elementor-element.elementor-element-dc2befa.top-video-block {
    max-height: 97vh  !important;;
}
.stripe{
    width: 100vw !important;
    height:1px;
    background: #fff;
}
/* BREAKPOINTS */
@media (min-width: 2000px) {
    .container {
        max-width: 1920px;
    }
}

@media (max-width: 1520px) {
    .container {
        max-width: 1280px;
    }

    .logo {
        max-width: 265px;
    }

    .header {
        padding: 1.45rem 0;
    }
}

@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
        padding: 0 15px;
    }

    html {
        font-size: 18px;
    }

    .logo {
        max-width: 203px;
    }

}

@media (max-width: 1024px) {
    .container {
        max-width: 920px;
    }

    .footer-text {
        font-size: 14px;
    }

    .h1 {
        font-size: 48px;
    }

    .h2 {
        font-size: 26px;
    }

    .section-name {
        font-size: 18px;
    }

    .text-menu-footer {
        font-size: 1rem;
    }

    .text-menu, .language-switcher {
        font-size: 1rem;
    }
}

@media (max-width: 768px) {
    .elementor-column-gap-wider>.elementor-column>.elementor-element-populated {
        padding: 10px 0 !important;
    }
    wider>.elementor-column>.elementor-element-populated {
        padding: 10px 0 !important;
    }
    .elementor-widget-video .e-hosted-video .elementor-video{
        object-fit: cover !important;
    }
    .elementor embed, .elementor iframe, .elementor object, .elementor video{
        min-height: 98vh !important;
        max-height: 98vh !important;
        object-fit: cover;
    }
    .elementor-column.elementor-col-100.elementor-top-column.elementor-element.elementor-element-dc2befa.top-video-block {
        max-height: 98vh !important;;
        min-height: 98vh !important;;
    }
    nav.mobile-menu.mobile-menu-show >.flex-row {
        flex-direction: column;
        width: 100%;
        justify-content:flex-start;
        align-items: flex-start;
    }
    p.flex-row.col {
        flex-direction: row !important;
        align-items: flex-start;
        padding: 25px 0;
    }
    .flex-row.hidden.row {
        flex-direction: row !important;
        padding: 10vw 15px 0 15px;
    }
    .flex-row.hidden.row img {
        margin-right: 20px;
    }
    .text-menu-footer{
        margin-left:0;
    }
    ul.footer-flex-row li {
        margin: 10px 0;
    }
    .order3{
        padding-top: 24px;
        order: 3;
        border-top: 1px solid #fff;
        min-width: 100vw;
        margin-left: -15px;
        padding-left: 15px;
    }
    .footer-flex-row-between,.footer-flex-row{
        flex-direction: column;
        align-items: flex-start;
    }
    .footer-flex-row2{
        justify-content: space-between;
        width:100%;
    }
    .flex-col{
        align-self: stretch;
        padding: 10px 0;
    }
    .hidden768 {
        display: none;
    }

    .hidden {
        display: flex;
    }

    .logo {
        max-width: 136px;
    }

    .footer-text {
        font-size: 14px;
    }

    .h1 {
        font-size: 38px;
    }

    .h2 {
        font-size: 26px;
    }

    .section-name {
        font-size: 18px;
    }

    .text-menu-footer {
        font-size: 1rem;
    }
    /* MOBILE MENU */

    .mobile-menu {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: fixed;
        top:78px;
        left:0;
        right:0;
        -webkit-transform: translateY(-113vh);
        -moz-transform: translateY(-113vh);
        -ms-transform:translateY(-113vh) ;
        -o-transform: translateY(-113vh);
        transform: translateY(-113vh);
        background: #1C1C1C;
        width: 100vw;
        height: 98vh;
        overflow-y: auto;
        -webkit-transition:transform .2s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition:transform .2s cubic-bezier(0.77, 0, 0.175, 1);
        -ms-transition:transform .2s cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition:transform .2s cubic-bezier(0.77, 0, 0.175, 1);
        transition:transform .2s cubic-bezier(0.77, 0, 0.175, 1);
        /*transition-duration: .3s;*/
    }
    .mobile-menu-show{
        z-index: 1;
        -webkit-transform: translateY(0vh);
        -moz-transform: translateY(0vh);
        -ms-transform:translateY(0vh) ;
        -o-transform: translateY(0vh);
        transform: translateY(0vh);

        -webkit-transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);
        -moz-transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);
        -ms-transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);
        -o-transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);
        transition:transform .5s cubic-bezier(0.77, 0, 0.175, 1);
        transition-delay: .5s;
    }
    .mobile-menu  .text-menu {
        font-size: 34px !important;
        margin-left:0;
    }
    .mobile-menu li{
        overflow: hidden;
        width: 95%;
        margin:0 auto;
        padding: 25px 10px;
        border-bottom: 1px solid #fff;
    }
    .text-menu span{
        -webkit-transform: translateY(-100px);
        -moz-transform: translateY(-100px);
        -ms-transform:translateY(-100px) ;
        -o-transform: translateY(-100px);
        transform: translateY(-100px);
        -webkit-transition:transform .5s linear;
        -moz-transition:transform .5s linear;
        -ms-transition:transform .5s linear;
        -o-transition:transform .5s linear;
        transition:transform .5s linear;
        transition-delay: .5s;

    }

    a.text-menu-footer.text-menu-animation span{
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform:translateY(0px) ;
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }

    .container-768{
        margin:0 0 ;
        width: 100vw;
        padding: 0 15px;
    }
    .stripe{
        width: 100vw;
        height:1px;
        background: #fff;
    }
}

@media (max-width: 500px) {
    .logo {
        max-width: 136px;
    }

    .footer-text {
        font-size: 14px;
    }

    .h1 {
        font-size: 28px;
    }

    .h2 {
        font-size: 26px;
    }

    .section-name {
        font-size: 18px;
    }

    .text-menu-footer {
        font-size: 1rem;
    }
}